.title {
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 20%;
    display: inline-block;
    font-size: calc(7px + 2vmin);
    color: black;
}

.logo {
    left: 10%;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.search {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    margin-left:40%;
    margin-top: 0.5%;
}

.button {
    vertical-align: middle;
    display: inline-block;
    margin-left: 1%;
    margin-bottom:0.6%;
}

.vertical-split-line {
    vertical-align: middle;
    margin-left: 2%;
    margin-right: 0.5%;
    display: inline-block;
    min-width: 1px;
    min-height: 30px;
    color: grey
}

.header {
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    display: block;
    background-color: #ffffff;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 65px;
}

.info {
    vertical-align: middle;
    display: inline-block;
    font-size: calc(4px + 1.5vmin);
    color: black;
}