.title {
    vertical-align: bottom;
    margin-right: 20%;
    display: inline-block;
    font-size: calc(7px + 2vmin);
    color: black;
    margin-bottom: 0.5%;
}

.logo {
    height: 3%;
    width: 3%;
    display: inline-block;
    margin-right: 10px;
}

.search {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5%
}

.button {
    vertical-align: middle;
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 0.5%;
}

.vertical-split-line {
    vertical-align: middle;
    margin-left: 2%;
    margin-right: 0.5%;
    display: inline-block;
    min-width: 1px;
    min-height: 30px;
    color: grey
}

.header {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: block;
    background-color: #ffffff;
    min-height: 7vh;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.info {
    vertical-align: middle;
    display: inline-block;
    font-size: calc(4px + 1.5vmin);
    color: black;
}