.navigation {
    margin-top: 15px;
    display: block;
    background-color: #3792E2;
    flex-direction: row;
    height: 40px
}

.sub-navigation {
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    font-size: calc(5px + 2vmin);
    color: white;
    padding-top: 2px;
}