@import '~antd/dist/antd.css';

a:link {
  color: white;
  background-color: transparent;
}

a:visited {
  color: white;
  background-color: transparent;
}

a:hover {
  color: burlywood;
  background-color: transparent;
}

.vertical-split-line-2 {
  vertical-align: top;
  margin-top:15px;
  margin-left:10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #aaaaaa;
  min-width: 2px;
  min-height: 3vh;
}

.vertical-split-line-3 {
  vertical-align: top;
  margin-top: 10px;
  display: inline-block;
  background-color: #aaaaaa;
  min-width: 1px;
  min-height: 55vh;
}

.shuffle-pic {
  margin-top: 3%;
  margin-left: 3%;
  height: 150%;
  width: 90%;
}

.doctor-patient {
  display: inline-block;
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #666 0px 0px 10px;
  border-radius: 20px; 
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.doctor-patient-pic {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0px 0px;
}

.picture {
  display: block;
  margin-top:0px;
  margin-left:0px;
}

.text {
  display: block;
  margin-top:0px;
  margin-left:0px;
}

.sub-picture {
  vertical-align: top;
  height: 30%;
  width: 50%;
  display: inline-block;
  margin-bottom: 2%;
  background-color: #ffffff;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
}

.doctor-patient-text-1 {
  margin-top: 3%;
  text-align: center;
  font-family: "Microsoft YaHei",Tahoma, Arial;
  font-size: calc(4px + 2vmin);
  color: #666666;
}

.doctor-patient-text-2 {
  margin-bottom: 3%;
  text-align: center;
  font-family: "Courier New";
  font-size: calc(4px + 2vmin);
  color: #666666;
}

.sub-text {
  /* align with other blocks in the same row */
  vertical-align: top;
  min-height: 60vh;
  width: 48%;
  height: 50%;
  display: inline-block;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
}

.sub-text-title {
  
}

.sub-title {
  margin-right: 20px;
  margin-left: 50px;
  display: inline-block;
  font-size: calc(8px + 2vmin);
  color: black;
  font-family: "Microsoft YaHei",Tahoma, Arial;
}

.sub-sub-title {
  font-family:"宋体";
  display: inline-block;
  font-size: calc(1px + 1.8vmin);
  color: grey;
}

.department-table {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 0%;
  display: block;
}

.department {
  height:170px;
  width:170px;
  vertical-align: top;
  text-align: center;
  border: 0.1px solid #eeeeee; 
  display: inline-block;
}

.doctor-info-table {
  text-align: center;
  display: block;
  margin-top: 5%;
  min-height: 10vh;
}

.doctor-info {
  display: inline-block;
  margin-left: 3%;
  min-height: 10vh;
}

.depart-pic {
  width: 100px;
  height: 100px;
  text-align: center;
}

.depart-text {
  margin-top: 15px;
  text-align: center;
  font-size: calc(1px + 2vmin);
  color: grey;
}

.sub-text-table{
  margin-top: 5%;
  margin-left: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
}

.sub-text-table-title {
  margin-left: 10px;
  display: inline-block;
  font-size: calc(1.5px + 2vmin);
  color: black;
}

.sub-text-table-title-2 {
  margin-left: 5px;
  margin-right:5px;
  display: inline-block;
  font-size: calc(1px + 2vmin);
  color: grey;
}

.doctor-info-1 {
  font-size: calc(2px + 2vmin);
  color: black;
}

.doctor-info-2 {
  font-size: calc(1px + 2vmin);
  color: grey;
}

.doctor-profile {
  height: 70%;
  width: 70%;
}

.App-link {
  color: #61dafb;
}

.foot_picture {
  margin-left: 30px;
  height: 140%;
  width: 97%;
}