.registerProForm {
    margin: 6% auto;
    width: 30%;
}

.registerForm {
    /* display: block; */
    /* margin-top:27px; */
    /* margin-left:0px; */
    font-family: "Microsoft YaHei",Tahoma, Arial;
    vertical-align: middle;
    position: absolute;
    top:50%;
    left:50%;
    width: 35%;
    height:50%;
    transform: translate(-50%,-50%);
    /* background: blue; */
    /* background-color: #3792E2;*/
    /* min-height: 6vh; */
    /* flex-direction: row; */
    /* font-size: calc(10px + 2vmin); */
    /* color: black; */
}

.loginBox{
    position: relative;
    /* background: red; */
    /* width:1080px;*/
    height: 630px; 
}

.loginProForm {
    margin: 6% auto;
    width: 30%;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}
.register-form-button {
    width: 100%;
}

.no-account {
    margin-left: 5px;
    margin-top: 10px;
}

.successInfo {
    margin-top: 15%;
    text-align: center;
}